body {
  padding: 32px;
  margin: 32px;
  font-family: "Open Sans", "Roboto", Arial, sans-serif;
  font-size: 16px;
}

.form-group {
  margin: 15px;
}

td {
  margin: 20px;
  padding: 10px;
}

th {
  padding: 10px;
  margin: 20px;
}